<p>Visualizando la persona: {{persona.id}}, {{persona.nombre}}, {{persona.email}}</p>

<form>
    <mat-form-field>
        <label for="id">Id</label>
        <input matInput id="id" value="{{persona.id}}" name="id" readonly />
    </mat-form-field>
    <mat-form-field>
        <label for="nombre">Nombre</label>
        <input matInput id="nombre" [(ngModel)]="persona.nombre" name="nombre" />
    </mat-form-field>
    <mat-form-field>
        <label for="email">Email</label>
        <input matInput id="email" [(ngModel)]="persona.email" name="email" />
    </mat-form-field>
    <div>
        <button mat-button (click)="onGuardar()">Guardar</button>
    </div>
</form>