<form [formGroup]="personaForm" (ngSubmit)="onGuardar()">
    <mat-form-field>
        <input matInput formControlName="nombre" placeholder="Nombre" required />
        <mat-error *ngIf="personaForm.get('nombre').hasError('required')">
            El nombre debe de rellenarse
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="email" matInput formControlName="email" placeholder="Email" required />
        <mat-error *ngIf="personaForm.get('email').hasError('required')">
            El email debe de rellenarse
        </mat-error>
        <mat-error *ngIf="personaForm.get('email').hasError('email')">
            El email debe usar arroba y punto en su formato
        </mat-error>
    </mat-form-field>
    <div>
        <button mat-button [disabled]="!personaForm.valid">Guardar</button>
    </div>
    <div>
        <button type="button" mat-button (click)="onCancelar()">Cancelar</button>
    </div>
</form>